<div class="container">
    <div class="row mt-5">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>À Propos de Moi</h2>
                <img src="../../assets/rivo_profil_image.jpg" alt="photo de profil" width="256" height="256" class="rounded-circle">
                <p>Je m'appelle Rivo Andriamifidy, un développeur passionné et toujours à la recherche des dernières tendances technologiques. Fort d'une expertise en développement frontend et backend, je mets un point d'honneur à créer des solutions qui répondent aux besoins des utilisateurs et dépassent leurs attentes. Mon objectif est de construire des applications performantes, intuitives et esthétiques.</p>
            </div>            
        </div>

        <!-- Featured project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src="{{picture}}" alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2"> {{ featuredProject.summary}}</p>
            <p>Visit the Portfolio section to learn more</p>
        </div>
    </div>
</div>
